<div class="container">
  <div class="map-container">
    <app-esri-map> </app-esri-map>
  </div>

  <div class="locator-container">
    <table cellpadding="10" cellspacing="1" border="1">
      <tr>
        <th>SUB_REGION</th>
        <th>STATE_NAME</th>
        <th>STATE_ABBR</th>
      </tr>
      <tr *ngFor="let feature of states | keyvalue">
        <td (click)="onClick(feature)">
          {{ feature.value.attributes.SUB_REGION }}
        </td>
        <td (click)="onClick(feature)">
          {{ feature.value.attributes.STATE_NAME }}
        </td>
        <td (click)="onClick(feature)">
          {{ feature.value.attributes.STATE_ABBR }}
        </td>
      </tr>
    </table>
  </div>
</div>
